# Created by .ignore support plugin (hsz.mobi)

# Project exclude paths
/node_modules/
.idea
.gitignore
.idea/.gitignore
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/hackernews-node.iml
.idea/misc.xml
.idea/modules.xml
